.ant-form-item-control-input-content {
  .ant-input-affix-wrapper {
    min-height: 35px;
    border-radius: 0;
  }
}
.ant-form-item-additional {
  .ant-form-item-explain-error {
    text-align: left;
  }
}