.add-appointment-page {
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 10px;
    .container-content {
      border: 1px solid #747373;
      width: 98%;
      margin: 30px auto 0px;
      &-header {
        height: 53px;
        gap: 20px;
        background-color: rgba(185, 185, 185, 0.35);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        &-actions {
            display: flex;
            align-items: center;
            gap: 10px;
        }
      }
      &-body {
        padding: 0 15px;
        &-title {
          text-decoration: underline;
          margin: 5px 0 10px 0;
          text-align: start;
        }
        .ant-form {
          .ant-space {
            width: 100%;
            .ant-space-item {
              flex: 1;
              .ant-form-item {
                .ant-row {
                  flex-direction: row;
                  flex-wrap: nowrap;
                  align-items: center;
                  .ant-col:first-child {
                    flex: 170px;
                    padding: 0;
                  }
                }
              }
            }
          }
          .button-component {
            display: flex;
            justify-content: center;
            margin-bottom: 24px;
          }
        }
        .ant-table-container {
          margin: 0;
        }
      }
      .border-top {
        border-top: 1px solid #747373;
      }
    }
    .container-header {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }