.header-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #000;
  .header-component-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    h1 {
      font-size: var(--font-size-base);
      cursor: pointer;
    }
    &-text {
      font-weight: 500;
    }
  }
  .header-component-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
